:root {
  /*  Colores  */
  --primary-color: #099d8d;
  --primary-color-alt: #14d9c4;
  --white-color: #fff;
  --black-color: #000;
  --grey-color: #f1f1f1;
  --text-color: #54585a;
  --text-copy: #b8b8b9;

  /*  Fuentes  */
  --title-font: "Rubik", sans-serif;
  --body-font: "Open Sans", sans-serif;

  /* Tamaños de fuentes */
  --h1-font-size: 16px;
  --h2-team-strength: 24px; /*para titulo equipo --borrar comentario*/
  --h2-about-us: 20px; /*para titulo nombres-quienes somos --borrar comentario*/
  --h3-font-size: 22px;
  --big-font-size: 18px; /*para el lema --borrar comentario*/
  --normal-font-size: 16px; /*para parrafos --borrar comentario*/
  --small-font-size: 14px;
}

/* Ana Sección Quiénes somos */

.about-us {
  background-color: lightpink;
  padding: 15px;
  display: flex;
  position: relative;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: CENTER;
}
#who-we-are {
  margin-top: 15px;
  font-family: var(--title-font);
  font-size: 24px;
  font-weight: 500px;
  line-height: 1.88;
  color: var(--primary-color);
}
.member {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0px 15px;
  max-width: px;
  height: px;
  justify-content: center;
}

.profile-picture {
  margin-top: 45px;
  margin-bottom: 15px;
  width: 180px;
  border-radius: 4px;
  border: solid 5px rgba(0, 0, 0, 0.08);
}
.profile-title {
  font-family: var(--body-font);
  font-size: 20px;
  padding: 10px;
}
.text {
  font-family: var(--body-font);
  color: var(--text-color);
  line-height: 1.5;
}

ul {
  display: flex;
  width: 124px;
  height: 30px;
  justify-content: center;
  align-items: center;
}
.fab,
.fas {
  font-size: 16px;
  color: var(--primary-color);
}
