:root {
  /*  Colores  */
  --primary-color: rgb(9, 157, 141);
  --primary-color-alt: #14d9c4;
  --white-color: #fff;
  --black-color: #000;
  --grey-color: #f1f1f1;
  --text-color: #54585a;
  --text-copy: rgb(184, 184, 185);

  /*  Fuentes  */
  --title-font: "Rubik", sans-serif;
  --body-font: "Open Sans", sans-serif;

  /* Tamaños de fuentes */
  --h1-font-size: 16px;
  --h2-team-strength: 24px; /*para titulo equipo --borrar comentario*/
  --h2-about-us: 20px; /*para titulo nombres-quienes somos --borrar comentario*/
  --h3-font-size: 22px;
  --big-font-size: 18px; /*para el lema --borrar comentario*/
  --normal-font-size: 16px; /*para parrafos --borrar comentario*/
  --small-font-size: 14px;
}

/*----------------------------------------*/

/* CSS Header */

.fixed-menu {
  position: fixed;
  z-index: 999;
}

.page-title {
  background-color: var(--primary-color);
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.95;
}

.header-title {
  font-size: var(--h1-font-size);
  font-family: var(--title-font);
  font-weight: 500;
  color: var(--white-color);
  text-transform: uppercase;
}

.header-nav {
  background-color: var(--primary-color-alt);
  height: 45px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.95;
  padding: 0;
}

.header-ul {
  display: flex;
  flex-direction: row;
}

.header-item {
  font-size: 15px;
  padding-right: 13px;
  color: white;
  font-family: var(--title-font);
  text-transform: uppercase;
  text-decoration: none;
}
.hero {
  display: flex;
  flex-direction: column;
  margin-bottom: -40px;
}
.hero-picture {
  width: 100vw;
}
.hero-image-container {
  background: url(../assets/images/descarga.jpeg) center;
  background-size: cover;
  height: 421px;
}
.claim {
  position: relative;
  bottom: 40px;
  height: 80px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 15px;
  margin-right: 15px;
  max-width: 450px;
}

.header-claim {
  /* width: 290px;
  height: 80px; */
  /* background-color: var(--white-color); */
  font-family: var(--body-font);
  font-size: var(--big-font-size);
  font-weight: 600px;
  line-height: 1.39;
  /* margin-left: 45px;
  padding: 14px; */

  /*----------------------------------------*/
}
/*Ana Sección Equipo */
.team-general {
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#team-section {
  font-family: var(--title-font);
  font-size: var(--h2-team-strength);
  font-weight: 500px;
  line-height: 1.88;
  text-align: center;
  color: var(--primary-color-alt);
  margin-top: 30px;
}
.text-team {
  padding-top: 15px;
}

/*----------------------------------------*/

/* Ana Sección Adalabers */

.about-us {
  display: flex;
  position: relative;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
#who-we-are {
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: var(--title-font);
  font-size: 24px;
  font-weight: 500px;
  line-height: 1.88;
  color: var(--primary-color);
  text-align: center;
}
.member {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 45px;
}

.profile-picture {
  margin-bottom: 15px;
  width: 180px;
  border-radius: 4px;
  border: solid 5px rgba(0, 0, 0, 0.08);
}
.profile-title {
  font-family: var(--body-font);
  font-size: 20px;
  padding: 10px;
}
.text {
  margin: 0;
  font-family: var(--body-font);
  color: var(--text-color);
  line-height: 1.5;
}
.icons {
  display: flex;
  width: 124px;
  height: 30px;
  justify-content: center;
  align-items: center;
}
.fab,
.fas {
  font-size: 16px;
  color: var(--primary-color);
}

/* Css Fortalezas y footer provisionales Tania! */
.diamond {
  position: relative;
  background-color: white;
  width: 30px;
  height: 30px;
  transform: rotate(45deg);
  top: -15px;
}
.team-strength {
  background-color: rgba(184, 184, 185, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 45px;
}
.team-title {
  font-family: var(--title-font);
  color: var(--primary-color);
  font-size: var(--h3-font-size);
  text-align: center;
  line-height: 2.05;
  margin-top: 30px;
  margin-bottom: 15px;
  font-weight: 500;
}
.text {
  font-family: var(--body-font);
  color: var(--text-color);
  font-size: var(--normal-font-size);
  text-align: center;
}

/* css footer provisional */

.footer-container {
  background-color: var(--white-color);
  width: auto;
  height: auto;
  font-family: var(--body-font);
  font-size: var(--small-font-size);
  justify-content: center;
  align-items: center;
}
.footer-content {
  display: block;
  justify-content: center;
  align-items: center;
}
.footer-line {
  border-top: 1px solid var(--text-copy);
}
.copy {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--text-copy);
  padding: 20px 0 20px;
  font-weight: 500;
  font-size: var(--small-font-size);
}

.footer-nav .footer-item {
  margin: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--text-color);
  line-height: 1.15px;
  text-decoration: none;
}
.adalab {
  display: flex;
  flex-direction: column;
  width: 115.9px;
  height: 45px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 45px;
  margin-top: 30px;
}
/* columna central */
.page-wrapper {
  margin: 0 25px;
}

/* media queries section EQUIPO  */
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .page-wrapper {
    margin: 0 45px;
  }
}
@media screen and (min-width: 1200px) {
  .page-wrapper {
    margin: 0 auto;
    max-width: 1120px;
  }
}
