:root {
  /*  Colores  */
  --primary-color: #099d8d;
  --primary-color-alt: #14d9c4;
  --white-color: #fff;
  --black-color: #000;
  --grey-color: #f1f1f1;
  --text-color: #54585a;
  --text-copy: #b8b8b9;

  /*  Fuentes  */
  --title-font: "Rubik", sans-serif;
  --body-font: "Open Sans", sans-serif;

  /* Tamaños de fuentes */
  --h1-font-size: 16px;
  --h2-team-strength: 24px; /*para titulo equipo --borrar comentario*/
  --h2-about-us: 20px; /*para titulo nombres-quienes somos --borrar comentario*/
  --h3-font-size: 22px;
  --big-font-size: 18px; /*para el lema --borrar comentario*/
  --normal-font-size: 16px; /*para parrafos --borrar comentario*/
  --small-font-size: 14px;
}
/*Ana Sección Equipo */
.team-general {
  background-color: lightyellow;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#team-section {
  margin-top: 15px;
  font-family: var(--title-font);
  font-size: 24px;
  font-weight: 500px;
  line-height: 1.88;
  color: var(--primary-color-alt);
}
.text {
  max-width: 650px;
}
/* Ana Sección Adalabers */

.about-us {
  background-color: lightpink;
  padding: 15px;
  display: flex;
  position: relative;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
#who-we-are {
  margin-top: 15px;
  font-family: var(--title-font);
  font-size: 24px;
  font-weight: 500px;
  line-height: 1.88;
  color: var(--primary-color);
}
.member {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0px 15px;
  max-width: px;
  height: px;
  justify-content: center;
}

.profile-picture {
  margin-top: 45px;
  margin-bottom: 15px;
  width: 180px;
  border-radius: 4px;
  border: solid 5px rgba(0, 0, 0, 0.08);
}
.profile-title {
  font-family: var(--body-font);
  font-size: 20px;
  padding: 10px;
}
.text {
  margin: 10px;
  font-family: var(--body-font);
  color: var(--text-color);
  line-height: 1.5;
}

.icons {
  display: flex;
  width: 124px;
  height: 30px;
  justify-content: center;
  align-items: center;
}
.fab,
.fas {
  font-size: 16px;
  color: var(--primary-color);
}

/* Css Fortalezas y footer provisionales Tania! */
.team-strength {
  background-color: var(--text-copy);
  opacity: 60%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.team-title {
  font-family: var(--primary-color);
  color: var(--text-color);
  font-size: var(--h3-font-size);
  text-align: center;
  margin-top: 30px;
  margin-bottom: 15px;
}

.text {
  font-family: var(--body-font);
  color: var(--text-color);
  font-size: var(--normal-font-size);
  text-align: center;
}

/* css footer provisional */

.footer-container {
  background-color: var(--white-color);
  width: auto;
  height: auto;
  font-family: var(--body-font);
  font-size: var(--small-font-size);
}
.copy {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  color: var(--grey-color);
}
.footer-ul {
  width: 100vw;
}
.footer-nav .footer-item {
  margin: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--text-color);
  line-height: 1.15px;
  text-decoration: none;
}
.adalab {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: scale(0.5);
  margin-left: 27px;
}
