<section class="about-us">
    <div class="page-wrapper">
        <h2 id="who-we-are">QUIÉNES SOMOS</h2>

        <div class="member">
            <img src="./assets/images/soraya-color.jpg" alt="" class="member__picture" />
            <div class="member__info">
                <h2 class="member__title">Soraya Alonso</h2>
                <p class="text member__text">
                    El día que empecé a guardar todo en disquetes de 3½ descubrí que era friki de lo digital
                    pero no fue hasta que imprimí por pantalla mi primer !Hola Mundo! cuando supe que quería dedicarme a
                    ello.
                </p>
                <nav class="member__nav">
                    <ul class="member__nav--icons">
                        <li>
                            <a href="https://twitter.com/DinoSory_" target="_blank">
                                <i class="fab fa-twitter"></i> </a>
                        </li>
                        <p>&nbsp&nbsp·&nbsp&nbsp</p>
                        <li>
                            <a href="https://www.linkedin.com/in/soraya-alonso" target="_blank"> <i
                                    class="fab fa-linkedin-in"></i></i> </a>
                        </li>
                        <p>&nbsp&nbsp·&nbsp&nbsp</p>
                        <li>
                            <a href="https://github.com/SorayaAC" target="_blank"> <i class="fab fa-github-alt"></i></i>
                            </a>
                        </li>
                        <p>&nbsp&nbsp·&nbsp&nbsp</p>
                        <li>
                            <a href="mailto:salonsocuesta@gmail.com"> <i class="fas fa-envelope"></i></i> </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="member">
            <img src="./assets/images/tania-color.jpg" alt="" class="member__picture" />
            <div class="member__info even__info">
                <h2 class="member__title even__title">Tania Martín</h2>
                <p class="text member__text even__text">
                    Futura Front-end Developer, ha cambiado la creatividad de la cocina por la del diseño web. La
                    autosuperación y el trabajo en equipo son su lema y Adalab es el reto definitivo donde ha encontrado
                    su futuro.
                </p>
                <nav class="member__nav even__nav">
                    <ul class="member__nav--icons icons-even">
                        <li>
                            <a href=""> <i class="fab fa-twitter"></i> </a>
                        </li>
                        <p>&nbsp&nbsp·&nbsp&nbsp</p>
                        <li>
                            <a href=""> <i class="fab fa-linkedin-in"></i></i> </a>
                        </li>
                        <p>&nbsp&nbsp·&nbsp&nbsp</p>
                        <li>
                            <a href=""> <i class="fab fa-github-alt"></i></i> </a>
                        </li>
                        <p>&nbsp&nbsp·&nbsp&nbsp</p>
                        <li>
                            <a href=""> <i class="fas fa-envelope"></i></i> </a>
                        </li>
                    </ul>
                </nav>
            </div>
            </nav>
        </div>
        <div class="member member-3">
            <img src="./assets/images/ana-color.jpg" alt="" class="member__picture" />
            <div class="member__info">
                <h2 class="member__title">Ana Montegrifo</h2>
                <p class="text member__text member-text">
                    Programadora front end en ciernes. Exploradora, polivalente, y con
                    experiencia en distintos sectores
                    profesionales. En mis conversaciones surgen temas como ordenanzas reguladoras, repostería,
                    disolventes orgánicos o novedades literarias.

                    <nav class="member__nav">
                        <ul class="member__nav--icons icons-even">
                            <li>
                                <a href="https://twitter.com/_anamontegrifo" target="_blank"> <i
                                        class="fab fa-twitter"></i> </a>
                            </li>
                            <p>&nbsp&nbsp·&nbsp&nbsp</p>
                            <li>
                                <a href="" class="disabled"> <i class="fab fa-linkedin-in"></i></i> </a>
                            </li>
                            <p>&nbsp&nbsp·&nbsp&nbsp</p>
                            <li>
                                <a href="https://github.com/anamontegrifo" target="_blank"> <i
                                        class="fab fa-github-alt"></i></i> </a>
                            </li>
                            <p>&nbsp&nbsp·&nbsp&nbsp</p>
                            <li>
                                <a href="mailto:amontegrifo@gmail.com"> <i class="fas fa-envelope"></i></i> </a>
                            </li>
                        </ul>
                    </nav>
            </div>
        </div>
        <div class="member member-4">
            <img src="./assets/images/natalia-color.jpg" alt="" class="member__picture" />
            <div class="member__info even__info">
                <h2 class="member__title even__title">Natalia Ramírez</h2>
                <p class="text member__text even__text">
                    Programadora Front-end Junior en desarrollo. Le encanta la tecnología, aprender cosas nuevas y leer
                    sobre cualquier tema. Ingeniera civil de profesión, dedicada a mejorar cada día y por esto decidió
                    darle un giro a su vida, buscando su ikigai (razón de vivir) y si que lo encontró en la creatividad
                    de la programación web, donde se encuentra muy feliz.
                </p>
                <nav class="member__nav even__nav">
                    <ul class="member__nav--icons icons-even">
                        <li>
                            <a href=""> <i class="fab fa-twitter"></i> </a>
                        </li>
                        <p>&nbsp&nbsp·&nbsp&nbsp</p>
                        <li>
                            <a href=""> <i class="fab fa-linkedin-in"></i></i> </a>
                        </li>
                        <p>&nbsp&nbsp·&nbsp&nbsp</p>
                        <li>
                            <a href=""> <i class="fab fa-github-alt"></i></i> </a>
                        </li>
                        <p>&nbsp&nbsp·&nbsp&nbsp</p>
                        <li>
                            <a href=""> <i class="fas fa-envelope"></i></i> </a>
                        </li>
                    </ul>
                </nav>
            </div>

        </div>
</section>