<section class="about-us">
    <div class="page-wrapper">
        <h2 id="who-we-are">QUIÉNES SOMOS</h2>

        <div class="member member-1">
            <img src="./assets/images/portrait-1.jpg" alt="" class="profile-picture" />
            <div class="member-info">
                <h2 class="profile-title">Soraya Alonso</h2>
                <p class="text member-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique
                    alias facilis, commodi, eum temporibus tenetur itaque aliquid
                    voluptates nobis illo assumenda nam dicta ipsam necessitatibus dolore
                    repudiandae ipsa minima dolor.
                </p>
                <nav class="profile-nav">
                    <ul class="icons">
                        <li>
                            <a href="">
                                <i class="fab fa-twitter"></i> </a>
                        </li>
                        <p>&nbsp&nbsp·&nbsp&nbsp</p>
                        <li>
                            <a href=""> <i class="fab fa-linkedin-in"></i></i> </a>
                        </li>
                        <p>&nbsp&nbsp·&nbsp&nbsp</p>
                        <li>
                            <a href=""> <i class="fab fa-github-alt"></i></i> </a>
                        </li>
                        <p>&nbsp&nbsp·&nbsp&nbsp</p>
                        <li>
                            <a href=""> <i class="fas fa-envelope"></i></i> </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="member member-2">
            <img src="./assets/images/portrait-2.jpg" alt="" class="profile-picture" />
            <div class="member-info member-info-even">
                <h2 class="profile-title profile-title-even">Tania Martín</h2>
                <p class="text member-text member-text-even">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique
                    alias facilis, commodi, eum temporibus tenetur itaque aliquid
                    voluptates nobis illo assumenda nam dicta ipsam necessitatibus dolore
                    repudiandae ipsa minima dolor.
                </p>
                <nav class="profile-nav profile-nav-even">
                    <ul class="icons icons-even">
                        <li>
                            <a href=""> <i class="fab fa-twitter"></i> </a>
                        </li>
                        <p>&nbsp&nbsp·&nbsp&nbsp</p>
                        <li>
                            <a href=""> <i class="fab fa-linkedin-in"></i></i> </a>
                        </li>
                        <p>&nbsp&nbsp·&nbsp&nbsp</p>
                        <li>
                            <a href=""> <i class="fab fa-github-alt"></i></i> </a>
                        </li>
                        <p>&nbsp&nbsp·&nbsp&nbsp</p>
                        <li>
                            <a href=""> <i class="fas fa-envelope"></i></i> </a>
                        </li>
                    </ul>
                </nav>
            </div>
            </nav>
        </div>
        <div class="member member-3">
            <img src="./assets/images/portrait-3.jpg" alt="" class="profile-picture" />
            <div class="member-info">
                <h2 class="profile-title">Ana Montegrifo</h2>
                <p class="text member-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique
                    alias facilis, commodi, eum temporibus tenetur itaque aliquid
                    voluptates nobis illo assumenda nam dicta ipsam necessitatibus dolore
                    repudiandae ipsa minima dolor.
                </p>
                <nav class="profile-nav">
                    <ul class="icons">
                        <li>
                            <a href=""> <i class="fab fa-twitter"></i> </a>
                        </li>
                        <p>&nbsp&nbsp·&nbsp&nbsp</p>
                        <li>
                            <a href=""> <i class="fab fa-linkedin-in"></i></i> </a>
                        </li>
                        <p>&nbsp&nbsp·&nbsp&nbsp</p>
                        <li>
                            <a href=""> <i class="fab fa-github-alt"></i></i> </a>
                        </li>
                        <p>&nbsp&nbsp·&nbsp&nbsp</p>
                        <li>
                            <a href=""> <i class="fas fa-envelope"></i></i> </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="member member-4">
            <img src="./assets/images/portrait-4.jpg" alt="" class="profile-picture" />
            <div class="member-info member-info-even">
                <h2 class="profile-title profile-title-even">Natalia Ramírez</h2>
                <p class="text member-text member-text-even">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique
                    alias facilis, commodi, eum temporibus tenetur itaque aliquid
                    voluptates nobis illo assumenda nam dicta ipsam necessitatibus dolore
                    repudiandae ipsa minima dolor.
                </p>
                <nav class="profile-nav profile-nav-even">
                    <ul class="icons icons-even">
                        <li>
                            <a href=""> <i class="fab fa-twitter"></i> </a>
                        </li>
                        <p>&nbsp&nbsp·&nbsp&nbsp</p>
                        <li>
                            <a href=""> <i class="fab fa-linkedin-in"></i></i> </a>
                        </li>
                        <p>&nbsp&nbsp·&nbsp&nbsp</p>
                        <li>
                            <a href=""> <i class="fab fa-github-alt"></i></i> </a>
                        </li>
                        <p>&nbsp&nbsp·&nbsp&nbsp</p>
                        <li>
                            <a href=""> <i class="fas fa-envelope"></i></i> </a>
                        </li>
                    </ul>
                </nav>
            </div>

        </div>
</section>