<footer class="footer-container">
  <div class="footer-line">
    <div></div>
  </div>
  <div class="page-wrapper">
    <div class="footer-content">
      <p class="copy">The Linkies &copy; 2021</p>
      <nav class="footer-nav">
        <ul class="footer-ul footer-nav">
          <li>
            <a class="footer-item" href="./index.html#team-section">Equipo</a>
          </li>
          <li>
            <a class="footer-item" href="./index.html#who-we-are"
              >Quienes somos</a
            >
          </li>
          <li>
            <a class="footer-item" href="./contact.html">Contacto</a>
          </li>
        </ul>
      </nav>
      <img src="./assets/images/adalab_brand.png" alt="" class="adalab" />
    </div>
  </div>
</footer>
