<section class="section--contact">
    <div class="page-wrapper">
        <section class="contact">
            <h2 class="contact__title">contacto</h2>
            <article class="contact__article">
                <p class="text contact__text">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Soluta
                    eius sint omnis distinctio quisquam vero, Lorem ipsum dolor sit
                </p>
                <p class="text contact__small">
                    Todos los campos marcados con
                    <span class="asterisk">*</span> son obligatorios
                </p>
            </article>
        </section>
        <form class="form">
            <div class="form__item">
                <label class="label label__name" for="name">Nombre completo <span class="asterisk">*</span></label>
                <input class="input" type="text" id="name" placeholder="Nombre ..." required />
            </div>
            <div class="form__item">
                <label class="label label__name" for="email">Email <span class="asterisk">*</span></label>
                <input class="input" type="email" id="email" placeholder="Email ..." required />
            </div>
            <div class="form__item">
                <label class="label label__name" for="tel">Teléfono</label>
                <input class="input" type="tel" id="tel" placeholder="Ej: 123456789" />
            </div>
            <div class="form__item">
                <label class="label label__name" for="message">Mensaje <span class="asterisk">*</span></label>
                <input class="input textarea" type="textarea" id="message" placeholder="¿Qué necesitas?">
            </div>
            <div class="form__item">
                <input class="form__button" type="submit" value="Enviar" />
            </div>
        </form>
    </div>
</section>