<header class="header">
    <div class="header__container">
        <a href="index.html" class="header__container--title">@@headerTitle</a>
    </div>
    <nav class="header__nav">
        <ul class="header__nav--ul">
            <li>
                <a href="#team" class="header__nav--item">@@menu1</a>
            </li>
            <li>
                <a href="#who-we-are" class="header__nav--item"">@@menu2</a>
        </li>
        <li>
            <a href=" ./contact.html" class="header__nav--item">@@menu3</a>
            </li>
        </ul>
    </nav>
</header>