<header class="header">
<div class="header__container">
    <h1 class="header__container--title">@@headerTitle</h1>
</div>
<nav class="header__nav">
    <ul class="header__nav--ul">
    <li>
        <a href="./index.html#team-section" class="header__nav--item">@@menu1</a>
    </li>
    <li>
        <a href="./index.html#who-we-are" class="header__nav--item"">@@menu2</a>
    </li>
    <li>
        <a href="./contact.html" class="header__nav--item">@@menu3</a>
    </li>
    </ul>
</nav>
</header>