<div class="team-strength">
    <div class="diamond"></div>
    <div class="page-wrapper">
      <div class="team-principal-container">
        <div class="team-container ">
          <h3 class="team-title">Fortalezas</h3>
          <p class="text">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quia
            dignissimos blanditiis est dolorum ut at cum dolorem error amet odit,
            harum delectus voluptates placeat labore! Voluptates amet quis
            doloribus quia.
          </p>
        </div>
<div class="team-container team-container-weaknesses">
    <h3 class="team-title">Debilidades</h3>
    <p class="text">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Architecto
      necessitatibus debitis nam facere optio veritatis vero, aliquam ex
      recusandae, inventore consequatur molestiae magnam, quas illo facilis
      porro ullam totam minima!
    </p>
  </div>
</div>
</div>
</section>