<section class="team__strenght">
  <div class="diamond"></div>
  <div class="page-wrapper">
    <div class="team__strenght--main">
      <div class="team__strenght--container">
        <h3 class="team__strenght--title">Fortalezas</h3>
        <p class="text">
          Entusiastas, compañeristas, dedicadas, valientes, damos lo mejor para obtener un excelente resultado. Desde el
          primer momento compaginamos y eso nos ha ayudado a llevar a cabo cada objetivo a su meta y así llamarnos The
          Linkies; un grupo que desde el comienzo se conectó para hacer la mejor web.
        </p>
      </div>
      <div class="team__strenght--container team__strenght--weaknesses">
        <h3 class="team__strenght--title">Debilidades</h3>
        <p class="text">
          Nuestro pasado laboral se desarrollo en otros sectores, por lo que la falta de de conocimiento en desarrollo
          web es a la vez nuestra mayor debilidad y nuestra mayor ventaja, pues, aunque algunas de nosotras ya tenían
          conocimientos previos, Adalab nos permitirá superar la barrera de un mundo hasta ahora liderado por hombres...
          beware the linkies are comming.
        </p>
      </div>
    </div>
  </div>
</section>