<section class="team">
    <div class="team-general">
      <div class="page-wrapper">
        <h2 id="team-section">EQUIPO</h2>
        <p class="text text-team">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Soluta eius sint omnis distinctio quisquam vero,
          dolor neque beatae sunt debitis qui, voluptatum atque! Quisquam vel voluptas nostrum? Omnis fuga sit earum
          commodi ipsa iusto temporibus fugit eaque alias voluptas laudantium aperiam obcaecati, ullam hic qui
          mollitia ea aut, nulla reprehenderit.
        </p>
        <p class="text text-team">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Soluta eius sint omnis distinctio quisquam vero,
          dolor neque beatae sunt debitis qui, voluptatum atque! Quisquam vel voluptas nostrum? Omnis fuga sit earum
          commodi ipsa iusto temporibus fugit eaque alias voluptas laudantium aperiam obcaecati, ullam hic qui
          mollitia ea aut, nulla reprehenderit.
        </p>
      </div>
    </div>