<section class="team"><span id="team"></span>
  <div class="page-wrapper">
    <h2 class="team__section">EQUIPO</h2>
    <p class="text team__section--text">
      ¿Tienes un CSS mal anidado? !Nosotras lo linkeamos! ¿Un HTML que no está
      indentado? !Nosotras lo linkeamos! ¿Gulp se te ha bugeado? !Nosotras lo
      linkeamos!.
    </p>
    <p class="text team__section--text">
      Somos The Linkies, un grupo de mujeres valientes que hemos hecho un reset
      a nuestra carrera y compartimos un link en común: ser programadoras web.
    </p>
  </div>
</section>