 /*  Colores  */
 $primary-color:rgb(9, 157, 141);
 $primary-color-alt: #14d9c4;
 $white-color: #fff;
 $text-color: #54585a;
 $text-copy: rgb(184, 184, 185);

 /*  Fuentes  */
 $title-font: "Rubik", sans-serif;
 $body-font: "Open Sans", sans-serif;

 /* Tamaños de fuentes */
 $h1-font-size: 16px;
 $h2-team-strength: 24px;
 $h2-about-us: 20px;
 $h3-font-size: 22px;
 $big-font-size: 18px;
 $normal-font-size: 16px;
 $small-font-size: 14px;

