.hero-contact__img {
    background: url(../images/hero-image-contact-sm.jpg);
    width: 100vw;
    height: 300px;
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: center;
}