/* Section Hero */
.hero {
  display: flex;
  flex-direction: column;
  margin-bottom: -40px;

  &__picture {
    width: 100vw;
  }
  &__image--container {
    height: 421px;
    background: url(../images/768x421-fondo.png) center;
    background-size: cover;
    @include desktop {
      height: 550px;
    }
  }
}
.claim {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  max-width: 450px;
  position: relative;
  bottom: 40px;
  background-color: $white-color;
  margin-left: 15px;
  margin-right: 15px;

  &__header {
    font-weight: 600px;
    line-height: 1.39;
    font-size: $big-font-size;
    font-family: $body-font;
  }

  @include tablet {
    .claim {
      bottom: 79px;
      margin-left: 46px;
      opacity: 80%;
    }
  }
  @include desktop {
    .claim {
      bottom: 79px;
      margin-left: 138px;
    }
  }
}
// Contact  -  Sección hero */
.contact__image--container {
  height: 300px;
  background: url(../images/768x300-fondo.png) center;
  background-size: cover;
}
