/* central column */
.page-wrapper {
  margin: 0 25px;
}

/* media queries section*/
@media all and (min-width: 768px) {
  .page-wrapper {
    margin: 0 45px;
  }
}
@media all and (min-width: 1200px) {
  .page-wrapper {
    margin: 0 auto;
    max-width: 1120px;
  }
}
