/* central column */
body{
  max-width: 1600px;
  min-width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.page-wrapper {
  margin: 0 15px;

  @include tablet {
    margin: 0 45px;
  }

  @include desktop {
    margin: 0 auto;
    max-width: 1120px;
  }
}

.page-wrapper-contact {
  margin: 0 15px;
  
  @include tablet {
    margin: 0 45px;
  }
  @include desktop {
    margin: 0 300px;
    max-width: 1120px;
  }  
    @include tablet {
      margin: 0 163px;
    }
}