/* Section team */

.team {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
  &__section {
    font-family: $title-font;
    font-size: $h2-team-strength;
    font-weight: 500px;
    line-height: 1.88;
    text-align: center;
    color: $primary-color;
    &--text {
      padding-top: 15px;
    }
    @include tablet {
      bottom: 30px;
    }
    @include desktop {
      padding-left: 299px;
      padding-right: 300px;
      padding-bottom: 60px;
      opacity: 67%;
    }
  }
}
